//  Header settings
.nav {
    padding: 15px 0;
    height: 70px;
    box-shadow: 0 10px 20px $seventhPrimaryFontColor;
    background: $thirdPrimaryFontColor;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__wrapper {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 105.69px;
    height: 40px;
    margin-right: 285.31px;
}

.menu {
    display: flex;
    align-items: center;
    font-family: $firstFont;
    font-size: $secondFontSize;
    line-height: $secondFontLineHeight;
    color: $fifthPrimaryFontColor;
}

.menu__item {
    min-width: 41px;
    margin-right: 20px;
}

.menu__item:first-letter {
    text-transform: capitalize;
}

.menu__item:nth-child(2) {
    display: flex;
    align-items: center;
    min-width: 65px;
    text-transform: capitalize;
}

.menu__item:nth-child(5) {
    display: flex;
    align-items: center;
    min-width: 107px;
    text-transform: capitalize;
}

.btn {
    text-align: center;
    padding: 9px 0;
}

.btn-signin {
    width: 87px;
    height: 34px;
    border: 2px solid $secondPrimaryFontColor;
    color: $secondPrimaryFontColor;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    font-family: $secondFont;
    font-style: $firstFontStyle;
    font-weight: $secondFontWeight;
    font-size: $firstFontSize;
    line-height: $firstFontLineHeight;
    text-transform: uppercase;
    margin-right: 20px;
}

.btn-signup {
    width: 196px;
    height: 34px;
    background: $firstGradientFontColor;
    color: $thirdPrimaryFontColor;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    font-family: $secondFont;
    font-style: $firstFontStyle;
    font-weight: $secondFontWeight;
    font-size: $firstFontSize;
    line-height: $firstFontLineHeight;
    text-transform: uppercase;
}