section.top
    .container
        .top__container
            .booking__form
                .booking__inner
                    .booking__title
                        h1 &Ncy;&acy;&jcy;&dcy;&iocy;&mcy; &ncy;&ocy;&mcy;&iecy;&rcy;&acy; &pcy;&ocy;&dcy; &vcy;&acy;&shcy;&icy; &pcy;&ocy;&zhcy;&iecy;&lcy;&acy;&ncy;&icy;&yacy;

