//  Imports
//  Utils
@import "utils/vars.scss";
@import "utils/fonts.scss";
//  Modules
@import "modules/header.scss";
@import "modules/top.scss";
@import "modules/bottom.scss";
@import "modules/footer.scss";
@import "modules/datepicker.scss";
//  Main settings
body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-family: $thirdFont;
    color: $firstPrimaryFontColor;
    font-size: $thirdFontSize;
    font-style: $firstFontStyle;
    line-height: $fourthFontLineHeight;
}

h3 {
    font-family: $secondFont;
    text-transform: uppercase;
    color: $firstPrimaryFontColor;
    font-size: $firstFontSize;
    font-style: $firstFontStyle;
    line-height: $firstFontLineHeight;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: $fifthPrimaryFontColor;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}